* {
    margin: 0;

}

body {
    margin: 0 auto;
    background: #F5F7F9;
}

html,
body {
    height: 100%;
}

.whole {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 37.5rem;
}


section {
    flex: 1;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    position: fixed;

    background: #FFFFFF;
    height: 2.75rem;
    z-index: 6;

    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.125rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}




.headwrap {
    text-align: left;
    height: 2.1875rem;
    margin: 0.2813rem 2.8125rem;
}

.head {
    height: 100%;
    margin: 0 auto;
    border-radius: 0.25rem;
    zoom: 1;
    background-color: #F5F7F9;
    box-sizing: border-box;
    padding: 0 0.625rem;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search3 {
    display: inline-block;
    width: 1.125rem;
    margin-right: 0.625rem;
    vertical-align: middle;
    font-size: 0;
}

.searchimg {
    width: 100%;
    overflow: hidden;
}

.searchtext {
    color: #999999;
    font-size: 0.75rem;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.searchwenzi {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.left {
    display: inline-block;
    line-height: 1.6875rem;
    margin: 0.5938rem 0;
    width: 1.6875rem;
    height: 1.6875rem;
    text-align: center;
    position: absolute;
    font-size: 1.6875rem;



}

.right {
    margin: 0.5938rem 0;
    right: 0.5938rem;
    width: 1.6875rem;
    height: 1.6875rem;
    line-height: 1.6875rem;
    font-size: 1.6875rem;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    position: absolute;
}

nav {
    margin: 0rem;
    width: 100%;
    padding: 0;
    overflow: hidden;
    zoom: 1;
    background-color: #FFFFFF;
    margin-top:3.75rem
}

.keji {

    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;

    clear: right;
    font-size: 0;
    padding: 0.625rem 0;
}

.keji span:nth-child(1) {
    font-size: 2.8125rem;
}

.keji span:nth-child(2) {
    background: #7FFFD4;
    font-size: 1rem;
}

.nav ul {
    padding: 0rem;
    list-style: none;

    display: flex;
    margin-top:60px;



}

.nav ul li {
    zoom: 1;
    text-align: center;
    margin: 0;
    padding: 0 px;
    width: 25%;
    height: 5.375rem;
    display: block;
    flex-wrap: initial;
    /* text-align: center;
    vertical-align: middle; */

    flex-direction: column;
    letter-spacing: 0.0313rem;
    align-items: center;
    font-size: 1.875rem;
    position: relative;
    display: flex;
    flex-wrap: initial;
    box-sizing: border-box;
    width: 25%;
    padding: 0.625rem 0;
}

.nav ul li i {
    font-size: 2.8125rem;

}

.nav li span {
    background: bisque;
    font-size: 0.75rem;
    color: #4A4945;

    line-height: 1rem;
    vertical-align: middle;
    text-align: center;




}


section .recommend {

    margin: 0 auto;
    padding-top: 1.5625rem;
    padding-bottom: 0.625rem;
    flex: 1;
}

section .recommend1 {
    font-size: 1.0625rem;
    line-height: 1.5rem;
    color: #313131;
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.9375rem;
    font-weight: bold;
    
}

.Recommended_courses {
    padding: 0;
    margin: 0 auto;
    zoom: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
    height: 16.875rem !important;

    display: block;
    

}

.Recommended_img {

    padding: 0;
    margin: 0 auto;
    zoom: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
    height: 16.875rem !important;
}
.Content {
position: relative;
margin-right: 0.625rem;
width: 10rem !important;
height: 16.875rem !important;
display: inline-block;
vertical-align: top;
zoom: 1;
box-sizing: border-box;
overflow: hidden;
}
.Contentimg {
width: 10rem !important;
height: 14.0625rem !important;
border-radius: 0.25rem;
}
.Islearning {
position: absolute;
left: 0;
bottom: 3.3438rem;
font-size: 0.6875rem;
margin: 0 0.625rem;
padding: 0.125rem 0.25rem;
border-radius: 0.25rem;
overflow: hidden;
color: #4A4945;
background-color: #fff;
}
.Contenttext {
color: #4A4945;
font-weight: bold;
font-size: 0.9375rem;
line-height: 1.2656rem;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
word-break: break-all;
text-overflow: ellipsis;
white-space: normal;
}