.wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.canListnav {
    background: #FFFFFF;
    height: 2.75rem;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.125rem;
    margin: 0 auto;
    max-width: 37.5rem;
    box-sizing: border-box;
}
.goahead {
    font-size: 0;
    height: 2.75rem;
    float: left;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
}
.canListimg {
    width: 1.6875rem;
    height: 1.6875rem;
    margin: 0.5938rem 0;
}
.breakfast {
    width: 100%;
    height: 2.75rem;
    line-height: 2.75rem;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    padding: 0 5.625rem;
    margin: 0 auto;
    box-sizing: border-box;
    color: #4A4945;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
}
.breakfoot {
    height: 2.75rem;
    overflow: hidden;
    zoom: 1;
}