.loginPhone{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    
}
.loginPhone-header{
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    color: #4A4945;
    font-size: 1.125rem;
}
.loginPhone-header span{
    width: 5rem;
    margin:0 0.625rem 0 0.625rem;
    font-size: 1rem;
    color: #1976D2;
}
.loginPhone-header b{
    font-weight:bold;
}
.adminName{
    width: 100%;
    height: 4.125rem;
    margin-top: 0.9375rem;
    line-height: 4.125rem;
}
.adminName img{
    width: 1.5625rem;
    margin-left: 0.9375rem;
}
.adminName input{
    height:2.1875rem;
    line-height:2.1875rem;
    background-color:#FFFFFF;
    font-size:1.125rem;
    padding:0rem 0rem 0.4375rem 0rem;
    margin:0.9375rem 0;
    border-radius:0rem;
    border: none;
    border-bottom: 0.0625rem solid #E7E2E5;
}
.adminName span{
    font-size: 1rem;
    line-height: 2.1875rem;
    color: #1976D2;
    padding: 0.9375rem 1.25rem 0.9375rem 0;
    border-bottom: 0.0625rem solid #E7E2E5;
    margin-left: 0.9375rem;
}
.forgetPassword{
    color: #1976D2;
    font-size: 0.875rem;
    margin-right: 0.8125rem;
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: -1.25rem;
}
.password{
    width: 100%;
    height: 4.125rem;
    margin-top: 0.9375rem;
    line-height: 4.125rem;
}
.passWord img{
    width: 1.5625rem;
    margin-left: 0.9375rem;
}
.passWord input{
    height:2.1875rem;
    line-height:2.1875rem;
    background-color:#FFFFFF;
    font-size:1.125rem;
    padding:0rem 0rem 0.4375rem 0rem;
    margin:0.9375rem 0;
    border-radius:0rem;
    border: none;
    border-bottom: 0.0625rem solid #E7E2E5;
    margin-left: 0.9375rem;
}
.loginPhone-btn{
    width: 100%;
    text-align: center;
    margin-top: 1.875rem; 
}
.loginPhone-btn button{
    background-image: linear-gradient(to right,#0096FB,#1976D2);
    font-size: 1.125rem;
    width: 15.625rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2.5rem;
    color: #FFFFFF;
    border: none;
}
.loginPhone-btn img{
    width: 4.375rem;
    margin: 0.625rem;
}
.loginPhone-btn p{
    margin-top:1.875rem; 
    font-size: 1rem;
    color: #999999;
}
.loginPhone-btn p:last-child{
    margin-top:1.875rem; 
    color: #1976D2;
    font-size: 1.25rem;
}
