.search-1{
    width: 100%;
    background: #ffffff;
}
.search-head{
    background: #FFFFFF;
height: 44px;
z-index: 6;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 0 18px;
margin: 0 auto;
max-width: 600px;
box-sizing: border-box;

}
.search-head1{
    height: 44px;
}
.search-head img{
    width: 1.6875rem;
height: 1.6875rem;

}
.search-head span{
    width: 2.5rem;
height: 1.6875rem;
margin: 0 0.625rem;
font-size: 1rem;
}
.search-head input{
    width: 15rem;
    background: #F5F7F9;
padding: 4px 10px;
box-sizing: border-box;
line-height: 1.5625rem;
color: #4A4945;
font-size: 0.875rem;
border-radius: 0.25rem;
border: none;

}
.search-hot{
    margin: 0.9375rem;
    font-size: 14px;
line-height: 20px;
color: #999999;
overflow: hidden;
}
.search-lis{
    margin: 0 15px;
padding: 0;
list-style-type: none;
overflow: hidden;
}
.search-li{  
display: block;
height: 2rem;
line-height: 2rem;
font-size: 1rem;
padding: 0 0.625rem;
text-align: center;
margin-right: 0.625rem;
margin-bottom: 0.625rem;
border-radius: 6.25rem;
box-sizing: border-box;
color: #4A4945;
background-color: #F5F7F9;
cursor: pointer;
zoom: 1;
display: inline-block;
vertical-align: middle;
overflow: hidden;
text-overflow: ellipsis;
}
.searchDetail img{
    width: 125px;
    height: 90px;
    
border-radius: 4px;
}
.searchDetail{
background: #FFFFFF;
position: relative;
padding: 0 15px 2.5px 15px;
overflow: hidden;
display: flex;
margin-bottom: 6px;


}
.searchDetail-1{
    width: 200px;
    height: 90px;
    margin-left: 20px;
}
.searchDetail-1 h3{
    font-size: 18px;
    font-weight: bold;
    color: #4A4945;
}
.searchDetail-2 p{
    font-size: 11px;
    color: #4A4945;
    margin-top: 4px;
}
.search-history1 {
    margin: 0.9375rem;
    font-size: 14px;
line-height: 20px;
color: #999999;
overflow: hidden;
display: flex;
justify-content: space-between;

}
.search-history1 img{
    width: 20px;
}
.search-switchover{
    position: fixed;
left: 0;
right: 0;
z-index: 6;
max-width: 600px;
background-color: #FFFFFF;
padding: 0;
margin: 0 auto;
overflow: hidden;
zoom: 1;
text-align: center;
display: flex;
justify-content: space-around;
align-items: center;
}
.search-switchover1{
    height: 44px;
}
.search-switchover-com {
    position: relative;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 65px;
    line-height: 44px;
    height: 34px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 10px; 
    
}

.search-switchover-com.active {
    color: #4A4945;
    font-weight: bold;
    border-bottom: 2px solid #E98B71;
}
