body {
    margin: 0 auto;
    background: #F5F7F9;
}
        .wrap {
            padding: 0;
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
        }
        .contentwrap {
    padding-bottom: 3.125rem;
    background-color: #FFFFFF;
}
.navigation {
    background: #FFFFFF;
    height: 2.75rem;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.125rem;
    margin: 0 auto;
    max-width: 37.5rem;
    box-sizing: border-box;
}
.navigationi {
    font-size: 0;
    height: 2.75rem;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 1;
}
.navigationimg {
    width: 1.6875rem;
    height: 1.6875rem;
    margin: 0.5938rem 0;
}
.navigationcontent {
    height: 2.75rem;
    overflow: hidden;
    zoom: 1;
}
.main {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 8.75rem;
}
.maincontent {
    padding: 0.9375rem 0;
    margin: 0 0.9375rem;
    border-top-color: #F5F7F9;
    border-top-style: solid;
    border-top-width: 0.0625rem;
}
.maincontent:first-child {
    border-top-color: #FFF;
}
.mainview {
    overflow: hidden;
    flex-direction: row;
    display: flex;
    border-top-color: #F5F7F9;
    border-top-style: solid;
    border-top-width: 0.0625rem;
}
.mainview:first-child {
    border-top-color: #FFF;
}
.maintext {
    flex: 1;
    margin-left: 0.9375rem;
    margin-top: 0.3125rem;
    font-size: 1rem;
    line-height: 1.4063rem;
    color: #313131;
}



.downloadwrap {
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 37.5rem;
    cursor: pointer;
}
.download {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 37.5rem;
}
.downloadimg {
    width: 100%;
    max-width: 37.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}