.user-header{
    background: #FFFFFF;
height: 2.75rem;
z-index: 6;
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 0 1.125rem;
margin: 0 auto;
max-width: 37.5rem;
box-sizing: border-box;
}
.user-header img{
    width: 1.6875rem;
    height: 1.6875rem;
    margin: 0.625rem 0;
    float: right;
}
.user-message{
    width: 100%;
    height: 10rem;
    background: #FFFFFF;
}
.user-li ul{
    background-color: #FFFFFF;
    height: 4.0625rem;
    padding-bottom: 0.5625rem;
    width: 100%;
    
}
.user-li ul li{
    float: left;
    width: 25%; 
    height: 4.0625rem;
    text-align: center;
    font-size: 0.75rem;
color: #4A4945;
}
.user-li ul li img{
    width: 2.5rem;  
    display: inline-block;
    margin-bottom: 0.5rem;
}
.user-list{
    background-color: #FFFFFF;
margin: 0 auto;
padding: 0 0 0 0.9375rem;
margin-top: 0.625rem;
}
.user-list ul li{
    position: relative;
height: 3.375rem;
box-sizing: border-box;
border-bottom: 0.0625rem solid #E7E2E5;
display: flex;
align-items: center;
font-size: 0.875rem;
color: #4A4945;
}
.user-list ul li img{
    width: 1.5rem;
}
.user-list ul li span{
    margin: 0rem 0.5rem;
}


